@media screen and (max-width : 750px) {
    .main{
        width: 100%;
    }
    img{
      width: 90%;
      height: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width : 440px) {
    h1{
        font-size: 40px;
    }
    p{
        font-size: 16px;
    }
    h2{
        font-size: 30px;
    }
}
@media screen and (max-width : 340px) {
    h1{
        font-size: 30px;
    }
}